*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-size: 25px;
    color: white;
}

p{
    font-size: 12px;
    font-weight: 600;
}

/* Parte inziale */
header{
    background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.container-header{
    display: flex;
    justify-content: flex-end;
}

.icon-cells, .icon-max, .icon-micro{
    font-size: 15px;
}

.speakers-btn{
    color: white;
    font-weight: 600;
    width: 120px;
    height: 30px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 3255, 0.3);
}

.speakers-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.maximize-btn{
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 3255, 0.3);
    margin: 0 10px;
}

.maximize-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

/* Parte centrale */
main{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

img{
    width: 100%;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
}

.content-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    padding: 40px 0;
}

.user{
    width: calc(100% / 7 - 10px);
    margin: 5px;
    position: relative;
}

.user-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 4px;
}

/* Parte finale */
footer{
    background-color: #222222;
    width: 100vw;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}

.flexbox{
    display: flex;
    align-items: center;
}

.icon{
    color: white;
    text-align: center;
    padding: 0 15px;
}

.icon-arrow a{
    font-size: 12px;
}

.end-btn{
    color: red;
    font-size: 12px;
    font-weight: 600;
    border: none;
    background-color: rgba(255, 255, 3255, 0.3);
    padding: 30px 25px;
}

.end-btn:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}

.share{
    color: #4bc800;
}